@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cormorant-regular";
  src: url("../fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
  font-family: "cormorant-bold";
  src: url("../fonts/CormorantGaramond-Bold.ttf");
}

@font-face {
  font-family: "cormorant-infant-regular";
  src: url("../fonts/cormorantInfant/CormorantInfant-Regular.ttf");
}

body {
  font-family: "cormorant-regular";
}

.font-infant {
  font-family: "cormorant-infant-regular";
}

.font-cormorant-bold {
  font-family: "cormorant-bold";
}

.hyper-link,
.hyper-link-header {
  display: block;
  position: relative;
  padding: 0.1em 0;
  overflow: hidden;
}

.hyper-link-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  background-color: #0E1D2F;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.hyper-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  background-color: #D1C7BC;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.hyper-link:hover::after,
.hyper-link-header:hover::after {
  opacity: 1;
  /* transform: translate3d(0, 0.2em, 0); */
  transform: translate3d(0, 0, 0);
}

.sub-menu-div {
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
  visibility: hidden;
}

.menu-title:hover+.sub-menu-div,
.sub-menu-div:hover {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.le-lusso-caption{
  background-image: url("/gallery/aboutus.png");

   min-height: 435px;

   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.new-slide .slick-slider{
  height: 100vh !important;
}

.slick-dots{
  bottom: 30px !important;
}

.slick-next{
  right: 30px !important;
}

.slick-prev{
  left: 30px !important;
  z-index: 2;
}

.slick-slide div {
  outline: none;
}

.portfolio-card{
  opacity: 0;
  transition: 0.3s;
  background-color: #00000078;
  border: 2px white solid;
  z-index: 10;
  color:white;
}

.slick-slide div:hover .portfolio-card {
  opacity: 1;
  transition: 0.3s;
}

.read-more{
  position: absolute;
  padding: 6px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  cursor: pointer;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.read-more:hover{
  background-color: white;
  color: black;
  transition: 0.3s;
}

.our-services{
  padding: 7px;
  color: #D1C7BC;
  border: 1px solid #D1C7BC;
  background-color: transparent;
  border-radius: 6px;
  transition: 0.3s;
}

.our-services:hover{
  color: #404145;
  background-color: #D1C7BC;
  transition: 0.3s;
}